<div class="row chef-container">
    {{#each chefs}}
    <div class="col-3">
        <a href="{{location}}/{{chef_id}}"><img class="chef-img" src="{{img}}" alt="{{name}}"></a>
        
        
            
                <p class="chef-name">{{name}}</p>
    
            
                
                    {{!-- <img class="icon" src="/images/chef.png">  --}}
                    <p class="cuisine-text">{{cuisine}}</p>
                
                
            
            
            
        
        
        
    </div>
    {{/each}}
</div>